@use "color";
@use "typography";


.btn {
  background-color: color.$primary-red;
  color: color.$text-light;
  padding: 12px 25px;
  border: none;
  border-radius: 5px;
  font-size: typography.$font-size-lg;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;

  &:hover {
    background-color: color.$primary-dark;
    transform: scale(1.05);
  }
}

.btn-small {
  @extend .btn;
  padding: 10px 20px;
  font-size: typography.$font-size-base;
}

.btn-ver-tarifas, .btn-unete {
  @extend .btn;
  border-radius: 8px;
  font-weight: bold;
}